<h2>Current News</h2>
<h6>Saturday January 6, 2007</h6>
<p>We're working furiously to finally unveil our new hosting platform and management console.  2007 is going to prove to be a very productive year for <strong class="orange">infernal</strong>hosting, we swear.  In the meantime, please bear with us as we work the kinks out and set up shop officially.</p>
<img src="/img/splash.png" title="something wicked this way comes..." alt="infernalhosting : spring 2006" />
