/* | BASIC XHMTL ELEMENTS 
   +------------------------------------------- */
html {
  color: #000;
  font-family: tahoma, verdana, geneva, sans-serif;
  font-size: 12px;
  margin: 0;
  text-align: left;
}

body {
  background: #333 url("/img/interface/bg-body.png") top left;
  margin: 0;
}

p, li, dt, th, td, dt, dd {
  color: #000;
  font-size: 11px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-align: justify;
}

p {
  margin: 1em 0;
  padding-bottom: 5px;
}

p.small {
  font-size: .95em;
}

strong {
  color: #D34E27;
}

td.strong {
  color: #585858;
  font-size: 1.0em;
  font-weight: bold;
}

img { 
  margin: 0;
  padding: 0;
}

a {
  color: #D34E27;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #a83f1f;
  text-decoration: none;
}

a:visited {
}
