%h2 Acceptable Usage Policy

%p This Acceptable Usage Policy (the "Policy") governs, in addition to the Infernal Hosting "Web Hosting General Terms and Conditions Agreement", the terms of use by the ("Customer"), which is defined as any individual, web designer, or third-party consultant granted permissible access by Customer to Customer's account or Infernal Hosting's ("Provider") servers or services.

%p Customer agrees when using, or accessing Infernal Hosting's services that the following terms and conditions of this policy will be met:

%h4 Overview

%p In order to provide a high class, professional service, we have a few conditions for Customers of our service. Some of these conditions may seem strict, but they insure a safe, functional, and trusted environment for our customers to publish their information on the World Wide Web.

%p Some example scenarios that may warrant a service suspension:

%ul 
  %li Copyrighted media such as music or videos are found to be distributed without the copyright owner's consent.
  %li Illegal or un-licensed software or 'warez' download sites.
  %li A site set up to function as an open http proxy.
  %li Large amounts of unsoclicited email (SPAM) are sent using a customer's SMTP service or mail script.
  %li An unusual spike in resource usage is detected by our systems resulting in an account far outstripping the allotted resources. To protect the customer, a site may be suspended in order to verify that this resource spike is legitimate.
  %li A hacked script or otherwise compromised site is discovered. This condition usually results in one or more of the above conditions.


%p Some of our competitors do not require their customers to comply with such conditions. If any of our existing or potential customers are unwilling or unable to comply with these conditions, we respectfully invite them to visit one of our competitors.

%h4 Web, FTP, Publishing Content Policies

%p Provider does not allow any of the following content, or links to such content, to be published on Infernal Hosting systems:

%ul 
  %li Content of an illegal nature (including stolen copyrighted material).
  %li Pirated software sites.


%p Customers posting any of the above content on their sites will be notified using Customer's current email address on file, and may be suspended or given a time frame to take corrective actions. If no corrective actions are taken, Provider will suspend the services of the hosting account until a resolution is met between Provider and Customer. A repeated violation of this Policy may cause cancellation of service without refund of any fees.

%p Provider offers generous amounts of disk space, and network bandwidth. Customer is not permitted to knowingly allow another website or hosting server to link to content files stored on Provider's servers. Customer may not use hosting account as a remote storage server only. 75% of customer's content files stored on Provider's server must have associated HTML, or PHP files inside the account linking to the content stored on that account.

%h4 Email Usage Policies

%p Infernal Hosting does not support unsolicited email messages sent by Customers of our system (also known as junk email or SPAM). Customers sending unsolicited email messages from our system, or through other systems with messages referencing their website, will have all of their services temporarily suspended. They will then be contacted by Infernal Hosting and informed of the suspension before having their services reinstated. A repeated violation may cause cancellation of service without refund of any fees.

%h4 Excessive hosting service striping

%p Referred to herein as "excessive striping". This describes the condition where a customer attempts to use 2 or more hosting services, stored with duplicate content, in order to collect an excessive allocation of overall bandwidth, disk space, GPUs, or other resources for the purpose of avoiding overage fees on a single service plan. An excessive striping condition may also be achieved by closing services before their resource limits are reached then opening a new service with nearly identical content to use its bundled resources. Content and resource striping is generally permitted only on load-balancer enabled products and products which feature consolidated bandwidth billing. Any other form of content striping will be considered excessive and may result in a service suspension.

%h4 Illegal Activities

%p Customers found using our system for illegal activities, including but not limited to breaking in to remote systems, credit card fraud, theft, vandalism, threats, or violence, will have their accounts immediately canceled without refund of any fees.

%h4 Hostnames, IP Addresses

%p Provider will remain the sole owner of all IP network addresses within the Provider's network. Customer shall not knowingly modify any TCP/IP configuration that will conflict, or otherwise disrupt network service by using configurations not allocated to Customer by Provider. Best effort will be taken to maintain permanency of customer's allocated IP address, however Provider reserves the right to change customer's underlying IP network address during upgrades, security provisioning, or any other network migration service.
