<h2>Account Overview</h2>
<p>From this control panel, you can manage all aspects of your domains hosted with <strong class="orange">infernal</strong>hosting.</p>

<!-- Domain Overview -->
<%= render :partial => 'domain/domain_list' %>
