%h2 Signup For Services

%h4 Thanks for signing up and choosing Infernal Hosting! 
%p We've sent you an email with some instructions on how to verify your account and begin hosting services.  Keep an eye on your mailbox and we'll see you back here soon!